
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/inter-light.woff2?v=3.13") format("woff2"), url("../fonts/inter-light.woff?v=3.13") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-regular.woff2?v=3.13") format("woff2"), url("../fonts/inter-regular.woff?v=3.13") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-medium.woff2?v=3.13") format("woff2"), url("../fonts/inter-medium.woff?v=3.13") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-bold.woff2?v=3.13") format("woff2"), url("../fonts/iter-bold.woff?v=3.13") format("woff"); }

#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0; }
  .navbar-header .dropdown.show .header-item {
    background-color: #fafafa; }

.navbar-brand-box {
  padding: 0 1.5rem;
  width: 240px; }

.logo {
  line-height: 70px; }
  .logo .logo-sm {
    display: none; }

.logo-light {
  display: none; }

/* Search */
.app-search {
  padding: calc(32px / 2) 0; }
  .app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: #f1f5f7;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 30px; }
  .app-search span {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    line-height: 38px;
    left: 13px;
    top: 0;
    color: #74788d; }

.megamenu-list li {
  position: relative;
  padding: 5px 0px; }
  .megamenu-list li a {
    color: #505d69; }

@media (max-width: 991px) {
  .navbar-brand-box {
    width: auto; }
  .logo span.logo-lg {
    display: none; }
  .logo span.logo-sm {
    display: inline-block; } }

.page-content {
  padding: calc(70px + 24px) calc(24px / 2) 60px calc(24px / 2); }

.header-item {
  height: 70px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #636e75;
  border: 0;
  border-radius: 0px; }
  .header-item:hover {
    color: #636e75; }

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #f1f5f7;
  padding: 3px; }

.user-dropdown .dropdown-item i {
  display: inline-block; }

.noti-icon i {
  font-size: 22px;
  color: #636e75; }

.noti-icon .noti-dot {
  position: absolute;
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #ff3d60;
  border-radius: 50%;
  top: 20px;
  right: 14px; }

.notification-item .media {
  padding: 0.75rem 1rem; }
  .notification-item .media:hover {
    background-color: #f1f5f7; }

.dropdown-icon-item {
  display: block;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #74788d; }
  .dropdown-icon-item img {
    height: 24px; }
  .dropdown-icon-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dropdown-icon-item:hover {
    border-color: #eff2f7; }

.fullscreen-enable [data-toggle="fullscreen"] .ri-fullscreen-line:before {
  content: "\ed73"; }

body[data-topbar="dark"] #page-topbar {
  background-color: #252b3b; }

body[data-topbar="dark"] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.05); }

body[data-topbar="dark"] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

body[data-topbar="dark"] .header-item {
  color: #e9ecef; }
  body[data-topbar="dark"] .header-item:hover {
    color: #e9ecef; }

body[data-topbar="dark"] .header-profile-user {
  background-color: rgba(255, 255, 255, 0.25); }

body[data-topbar="dark"] .noti-icon i {
  color: #e9ecef; }

body[data-topbar="dark"] .logo-dark {
  display: none; }

body[data-topbar="dark"] .logo-light {
  display: block; }

body[data-topbar="dark"] .app-search .form-control {
  background-color: rgba(241, 245, 247, 0.07);
  color: #fff; }

body[data-topbar="dark"] .app-search span,
body[data-topbar="dark"] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body[data-sidebar="dark"] .navbar-brand-box {
  background: #252b3b; }

body[data-sidebar="dark"] .logo-dark {
  display: none; }

body[data-sidebar="dark"] .logo-light {
  display: block; }

@media (max-width: 600px) {
  .navbar-header .dropdown {
    position: static; }
    .navbar-header .dropdown .dropdown-menu {
      left: 10px !important;
      right: 10px !important; } }

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none; } }

body[data-layout="horizontal"] .navbar-brand-box {
  width: auto; }

body[data-layout="horizontal"] .page-content {
  margin-top: 70px;
  padding: calc(55px + 24px) calc(24px / 2) 60px calc(24px / 2); }

@media (max-width: 992px) {
  body[data-layout="horizontal"] .page-content {
    margin-top: 15px; } }

.page-title-box {
  padding-bottom: 24px; }
  .page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0; }
  .page-title-box h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600; }

.footer {
  bottom: 0;
  padding: 20px calc(24px / 2);
  position: absolute;
  right: 0;
  color: #74788d;
  left: 240px;
  height: 60px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff; }

@media (max-width: 992px) {
  .footer {
    left: 0; } }

.vertical-collpsed .footer {
  left: 70px; }

body[data-layout="horizontal"] .footer {
  left: 0 !important; }

.right-bar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 280px;
  z-index: 9999;
  float: right !important;
  right: -290px;
  top: 0;
  bottom: 0; }
  .right-bar .right-bar-toggle {
    background-color: #444c54;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #eff2f7;
    text-align: center;
    border-radius: 50%; }
    .right-bar .right-bar-toggle:hover {
      background-color: #4b545c; }

.rightbar-overlay {
  background-color: rgba(52, 58, 64, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.right-bar-enabled .right-bar {
  right: 0; }

.right-bar-enabled .rightbar-overlay {
  display: block; }

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto; }
    .right-bar .slimscroll-menu {
      height: auto !important; } }

.metismenu {
  margin: 0; }
  .metismenu li {
    display: block;
    width: 100%; }
  .metismenu .mm-collapse {
    display: none; }
    .metismenu .mm-collapse:not(.mm-show) {
      display: none; }
    .metismenu .mm-collapse.mm-show {
      display: block; }
  .metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility; }

.vertical-menu {
  width: 240px;
  z-index: 1001;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.main-content {
  margin-left: 240px;
  overflow: hidden; }
  .main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px; }

#sidebar-menu {
  padding: 10px 0 30px 0; }
  #sidebar-menu .mm-active > .has-arrow:after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  #sidebar-menu .has-arrow:after {
    content: "\F0140";
    font-family: 'Material Design Icons';
    display: block;
    float: right;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1rem; }
  #sidebar-menu ul li a {
    display: block;
    padding: .625rem 1.5rem;
    color: #74788d;
    position: relative;
    font-size: 13.3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: "Inter", sans-serif;
    font-weight: 500; }
    #sidebar-menu ul li a i {
      display: inline-block;
      min-width: 1.5rem;
      padding-bottom: .125em;
      font-size: 1.1rem;
      line-height: 1.40625rem;
      vertical-align: middle;
      color: #505d69;
      -webkit-transition: all .4s;
      transition: all .4s;
      opacity: .75; }
    #sidebar-menu ul li a:hover {
      color: #383c40; }
      #sidebar-menu ul li a:hover i {
        color: #383c40; }
  #sidebar-menu ul li .badge {
    margin-top: 4px; }
  #sidebar-menu ul li ul.sub-menu {
    padding: 0; }
    #sidebar-menu ul li ul.sub-menu li a {
      padding: .4rem 1.5rem .4rem 3.2rem;
      font-size: 13px;
      color: #7c8a96; }
    #sidebar-menu ul li ul.sub-menu li ul.sub-menu {
      padding: 0; }
      #sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
        padding: .4rem 1.5rem .4rem 4.2rem;
        font-size: 13.5px; }

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #505d69;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  opacity: .5; }

.mm-active {
  color: #128646 !important; }
  .mm-active .active {
    color: #128646 !important; }
    .mm-active .active i {
      color: #128646 !important; }
  .mm-active > i {
    color: #128646 !important; }

@media (max-width: 992px) {
  .vertical-menu {
    display: none; }
  .main-content {
    margin-left: 0 !important; }
  body.sidebar-enable .vertical-menu {
    display: block; } }

.vertical-collpsed .main-content {
  margin-left: 70px; }

.vertical-collpsed .navbar-brand-box {
  width: 70px !important; }

.vertical-collpsed .logo span.logo-lg {
  display: none; }

.vertical-collpsed .logo span.logo-sm {
  display: block; }

.vertical-collpsed .vertical-menu {
  position: absolute;
  width: 70px !important;
  z-index: 5; }
  .vertical-collpsed .vertical-menu .simplebar-mask,
  .vertical-collpsed .vertical-menu .simplebar-content-wrapper {
    overflow: visible !important; }
  .vertical-collpsed .vertical-menu .simplebar-scrollbar {
    display: none !important; }
  .vertical-collpsed .vertical-menu .simplebar-offset {
    bottom: 0 !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .menu-title,
  .vertical-collpsed .vertical-menu #sidebar-menu .badge,
  .vertical-collpsed .vertical-menu #sidebar-menu .collapse.in {
    display: none !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
    height: inherit !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
    display: none; }
  .vertical-collpsed .vertical-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      min-height: 55px;
      -webkit-transition: none;
      transition: none; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:hover, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:active, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:focus {
        color: #383c40; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
        font-size: 20px;
        margin-left: 4px; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
        display: none;
        padding-left: 25px; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
      position: relative;
      width: calc(190px + 70px);
      color: #128646;
      background-color: whitesmoke;
      -webkit-transition: none;
      transition: none; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
        color: #128646; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
        display: inline; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
      display: block;
      left: 70px;
      position: absolute;
      width: 190px;
      height: auto !important;
      -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1);
              box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
        -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1);
                box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, 0.1); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 8px 20px;
        position: relative;
        width: 190px;
        z-index: 6;
        color: #7c8a96; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
          color: #383c40; }
  .vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: #ffffff; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
      display: block;
      left: 190px;
      height: auto !important;
      margin-top: -36px;
      position: absolute;
      width: 190px; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
      position: absolute;
      right: 20px;
      top: 12px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li.active a {
      color: #f8f9fa; }

body[data-sidebar="dark"] .vertical-menu {
  background: #252b3b; }

body[data-sidebar="dark"] #sidebar-menu ul li a {
  color: #8590a5; }
  body[data-sidebar="dark"] #sidebar-menu ul li a i {
    color: #8590a5; }
  body[data-sidebar="dark"] #sidebar-menu ul li a:hover {
    color: #d7e4ec; }
    body[data-sidebar="dark"] #sidebar-menu ul li a:hover i {
      color: #d7e4ec; }

body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a {
  color: #8590a5; }
  body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a:hover {
    color: #d7e4ec; }

body[data-sidebar="dark"].vertical-collpsed {
  min-height: 1400px; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
    background: #293041;
    color: #d7e4ec; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
      color: #d7e4ec; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
    color: #8590a5; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
      color: #383c40; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
    background-color: white; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
    color: #128646 !important; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active i {
      color: #128646 !important; }

body[data-sidebar="dark"] .mm-active {
  color: #d7e4ec !important; }
  body[data-sidebar="dark"] .mm-active > i {
    color: #d7e4ec !important; }
  body[data-sidebar="dark"] .mm-active .active {
    color: #d7e4ec !important; }
    body[data-sidebar="dark"] .mm-active .active i {
      color: #d7e4ec !important; }

body[data-sidebar="dark"] .menu-title {
  color: #8590a5; }

body[data-layout="horizontal"] .main-content {
  margin-left: 0 !important; }

body[data-sidebar-size="small"] .navbar-brand-box {
  width: 160px; }
  @media (max-width: 992px) {
    body[data-sidebar-size="small"] .navbar-brand-box {
      width: auto; } }

body[data-sidebar-size="small"] .vertical-menu {
  width: 160px;
  text-align: center; }
  body[data-sidebar-size="small"] .vertical-menu .has-arrow:after,
  body[data-sidebar-size="small"] .vertical-menu .badge {
    display: none !important; }

body[data-sidebar-size="small"] .main-content {
  margin-left: 160px; }

body[data-sidebar-size="small"] .footer {
  left: 160px; }
  @media (max-width: 991px) {
    body[data-sidebar-size="small"] .footer {
      left: 0; } }

body[data-sidebar-size="small"] #sidebar-menu ul li.menu-title {
  background-color: #293041; }

body[data-sidebar-size="small"] #sidebar-menu ul li a i {
  display: block; }

body[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li a {
  padding-left: 1.5rem; }

body[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
  padding-left: 1.5rem; }

body[data-sidebar-size="small"].vertical-collpsed .main-content {
  margin-left: 70px; }

body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: left; }
  body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
    display: inline-block; }

body[data-sidebar-size="small"].vertical-collpsed .footer {
  left: 70px; }

body[data-sidebar="colored"] .vertical-menu {
  background-color: #128646; }

body[data-sidebar="colored"] .navbar-brand-box {
  background-color: #128646; }
  body[data-sidebar="colored"] .navbar-brand-box .logo-dark {
    display: none; }
  body[data-sidebar="colored"] .navbar-brand-box .logo-light {
    display: block; }

body[data-sidebar="colored"] .mm-active {
  color: #fff !important; }
  body[data-sidebar="colored"] .mm-active > i, body[data-sidebar="colored"] .mm-active .active {
    color: #fff !important; }

body[data-sidebar="colored"] #sidebar-menu ul li.menu-title {
  color: rgba(255, 255, 255, 0.6); }

body[data-sidebar="colored"] #sidebar-menu ul li a {
  color: rgba(255, 255, 255, 0.6); }
  body[data-sidebar="colored"] #sidebar-menu ul li a i {
    color: rgba(255, 255, 255, 0.6); }
  body[data-sidebar="colored"] #sidebar-menu ul li a.waves-effect .waves-ripple {
    background: rgba(255, 255, 255, 0.1); }

body[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a {
  color: rgba(255, 255, 255, 0.5); }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  background-color: #5e6bd4;
  color: #fff; }
  body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
    color: #fff; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
  color: #128646 !important; }

.topnav {
  background: #fff;
  padding: 0 calc(24px / 2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  margin-top: 70px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100; }
  .topnav .topnav-menu {
    margin: 0;
    padding: 0; }
  .topnav .navbar-nav .nav-link {
    font-size: 15px;
    position: relative;
    padding: 1rem 1.3rem;
    color: #74788d;
    font-family: "Inter", sans-serif; }
    .topnav .navbar-nav .nav-link i {
      font-size: 15px;
      vertical-align: middle;
      display: inline-block; }
    .topnav .navbar-nav .nav-link:focus, .topnav .navbar-nav .nav-link:hover {
      color: #128646;
      background-color: transparent; }
  .topnav .navbar-nav .dropdown-item {
    color: #74788d; }
    .topnav .navbar-nav .dropdown-item.active, .topnav .navbar-nav .dropdown-item:hover {
      color: #128646; }
  .topnav .navbar-nav .nav-item .nav-link.active {
    color: #128646 !important; }
  .topnav .navbar-nav .dropdown.active > a {
    color: #128646;
    background-color: transparent; }

@media (min-width: 1200px) {
  body[data-layout="horizontal"] .container-fluid,
  body[data-layout="horizontal"] .navbar-header {
    max-width: 85%; } }

@media (min-width: 992px) {
  .topnav .navbar-nav .nav-item:first-of-type .nav-link {
    padding-left: 0; }
  .topnav .dropdown-item {
    padding: .5rem 1.5rem;
    min-width: 180px; }
  .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
    left: 0px;
    right: auto; }
  .topnav .dropdown .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 0.25rem 0.25rem; }
    .topnav .dropdown .dropdown-menu .arrow-down::after {
      right: 15px;
      -webkit-transform: rotate(-135deg) translateY(-50%);
              transform: rotate(-135deg) translateY(-50%);
      position: absolute; }
    .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
      position: absolute;
      top: 0 !important;
      left: 100%;
      display: none; }
  .topnav .dropdown:hover > .dropdown-menu {
    display: block; }
  .topnav .dropdown:hover > .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block; }
  .navbar-toggle {
    display: none; } }

.arrow-down {
  display: inline-block; }
  .arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: .4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .4em; }

@media (max-width: 1199.98px) {
  .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
    right: 100%;
    left: auto; } }

@media (max-width: 991.98px) {
  .navbar-brand-box .logo-dark {
    display: block; }
    .navbar-brand-box .logo-dark span.logo-sm {
      display: block; }
  .navbar-brand-box .logo-light {
    display: none; }
  .topnav {
    max-height: 360px;
    overflow-y: auto;
    padding: 0; }
    .topnav .navbar-nav .nav-link {
      padding: 0.75rem 1.1rem; }
    .topnav .dropdown .dropdown-menu {
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-left: 15px; }
      .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl {
        width: auto; }
        .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl .row {
          margin: 0px; }
    .topnav .dropdown .dropdown-item {
      position: relative;
      background-color: transparent; }
      .topnav .dropdown .dropdown-item.active, .topnav .dropdown .dropdown-item:active {
        color: #128646; }
    .topnav .arrow-down::after {
      right: 15px;
      position: absolute; } }

@media (min-width: 992px) {
  body[data-layout="horizontal"][data-topbar="light"] .navbar-brand-box .logo-dark {
    display: block; }
  body[data-layout="horizontal"][data-topbar="light"] .navbar-brand-box .logo-light {
    display: none; }
  body[data-layout="horizontal"][data-topbar="light"] .topnav {
    background-color: #252b3b; }
    body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.6); }
      body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav .nav-link:focus, body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.9); }
    body[data-layout="horizontal"][data-topbar="light"] .topnav .navbar-nav > .dropdown.active > a {
      color: rgba(255, 255, 255, 0.9) !important; } }

body[data-layout-size="boxed"] {
  background-color: #dee7ec; }
  body[data-layout-size="boxed"] #layout-wrapper {
    background-color: #f1f5f7;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  body[data-layout-size="boxed"] #page-topbar {
    max-width: 1300px;
    margin: 0 auto; }
  body[data-layout-size="boxed"] .footer {
    margin: 0 auto;
    max-width: calc(1300px - 240px); }
  body[data-layout-size="boxed"].vertical-collpsed .footer {
    max-width: calc(1300px - 70px); }

body[data-layout="horizontal"][data-layout-size="boxed"] #page-topbar, body[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper, body[data-layout="horizontal"][data-layout-size="boxed"] .footer {
  max-width: 100%; }

body[data-layout="horizontal"][data-layout-size="boxed"] .container-fluid, body[data-layout="horizontal"][data-layout-size="boxed"] .navbar-header {
  max-width: 1300px; }

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4); }

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(86, 100, 210, 0.4); }

.waves-effect.waves-success .waves-ripple {
  background-color: rgba(28, 187, 140, 0.4); }

.waves-effect.waves-info .waves-ripple {
  background-color: rgba(74, 163, 255, 0.4); }

.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(252, 185, 44, 0.4); }

.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(255, 61, 96, 0.4); }

.avatar-xs {
  height: 2rem;
  width: 2rem; }

.avatar-sm {
  height: 3rem;
  width: 3rem; }

.avatar-md {
  height: 4.5rem;
  width: 4.5rem; }

.avatar-lg {
  height: 6rem;
  width: 6rem; }

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem; }

.avatar-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #128646;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.custom-accordion .card + .card {
  margin-top: 0.5rem; }

.custom-accordion a.collapsed i.accor-plus-icon:before {
  content: "\F0415"; }

.custom-accordion .card-header {
  border-radius: 7px; }

.custom-accordion-arrow .card {
  border: 1px solid #eff2f7;
  -webkit-box-shadow: none;
          box-shadow: none; }

.custom-accordion-arrow .card-header {
  padding-left: 45px;
  position: relative; }
  .custom-accordion-arrow .card-header .accor-arrow-icon {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    background-color: #128646;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.custom-accordion-arrow a.collapsed i.accor-arrow-icon:before {
  content: "\F0142"; }

.font-family-secondary {
  font-family: "Inter", sans-serif; }

.font-size-10 {
  font-size: 10px !important; }

.font-size-11 {
  font-size: 11px !important; }

.font-size-12 {
  font-size: 12px !important; }

.font-size-13 {
  font-size: 13px !important; }

.font-size-14 {
  font-size: 14px !important; }

.font-size-15 {
  font-size: 15px !important; }

.font-size-16 {
  font-size: 16px !important; }

.font-size-17 {
  font-size: 17px !important; }

.font-size-18 {
  font-size: 18px !important; }

.font-size-20 {
  font-size: 20px !important; }

.font-size-22 {
  font-size: 22px !important; }

.font-size-24 {
  font-size: 24px !important; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semibold {
  font-weight: 600; }

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  color: #adb5bd;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .social-list-item:hover {
    color: #74788d;
    background-color: #eff2f7; }

.w-xs {
  min-width: 80px; }

.w-sm {
  min-width: 95px; }

.w-md {
  min-width: 110px; }

.w-lg {
  min-width: 140px; }

.w-xl {
  min-width: 160px; }

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.7;
  background-color: #000; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999; }

#status {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: -20px 0 0 -20px; }

.spinner .spin-icon {
  font-size: 56px;
  color: #128646;
  position: relative;
  display: inline-block;
  -webkit-animation: spin 1.6s infinite linear;
          animation: spin 1.6s infinite linear; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

.form-check-right {
  padding-left: 0;
  display: inline-block;
  padding-right: 1.25rem; }
  .form-check-right .form-check-input {
    right: 0;
    margin-left: 0; }
  .form-check-right .form-check-label {
    display: block; }

.custom-control-right {
  padding-left: 0;
  padding-right: 1.5rem;
  display: inline-block; }
  .custom-control-right .custom-control-label {
    display: inline-block; }
    .custom-control-right .custom-control-label:before, .custom-control-right .custom-control-label:after {
      left: auto;
      right: -1.5rem; }
  .custom-control-right .custom-control-input {
    left: auto; }

.custom-control-label {
  cursor: pointer; }

.activity-wid {
  margin-top: 8px;
  margin-left: 16px; }
  .activity-wid .activity-list {
    position: relative;
    padding: 0 0 40px 30px; }
    .activity-wid .activity-list:before {
      content: "";
      border-left: 2px dashed rgba(86, 100, 210, 0.25);
      position: absolute;
      left: 0;
      bottom: 0;
      top: 32px; }
    .activity-wid .activity-list .activity-icon {
      position: absolute;
      left: -15px;
      top: 0;
      z-index: 9; }
    .activity-wid .activity-list:last-child {
      padding-bottom: 0px; }

.button-items {
  margin-left: -8px;
  margin-bottom: -12px; }
  .button-items .btn {
    margin-bottom: 12px;
    margin-left: 8px; }

.mfp-popup-form {
  max-width: 1140px; }

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

.icon-demo-content {
  color: #adb5bd; }
  .icon-demo-content i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 22px;
    color: #74788d;
    border: 2px solid #f1f5f7;
    border-radius: 4px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    margin-right: 16px;
    vertical-align: middle; }
  .icon-demo-content .col-lg-4 {
    margin-top: 24px; }
    .icon-demo-content .col-lg-4:hover i {
      color: #fff;
      background-color: #128646;
      border-color: #128646; }

.grid-structure .grid-container {
  background-color: #f8f9fa;
  margin-top: 10px;
  font-size: .8rem;
  font-weight: 500;
  padding: 10px 20px; }

.card-radio {
  background-color: #fff;
  border: 2px solid #f1f5f7;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .card-radio:hover {
    cursor: pointer; }

.card-radio-label {
  display: block; }

.card-radio-input {
  display: none; }
  .card-radio-input:checked + .card-radio {
    border-color: #128646 !important; }

.navs-carousel .owl-nav {
  margin-top: 16px; }
  .navs-carousel .owl-nav button {
    width: 30px;
    height: 30px;
    line-height: 28px !important;
    font-size: 20px !important;
    border-radius: 50% !important;
    background-color: rgba(86, 100, 210, 0.25) !important;
    color: #128646 !important;
    margin: 4px 8px !important; }

@media print {
  .vertical-menu,
  .right-bar,
  .page-title-box,
  .navbar-header,
  .footer {
    display: none !important; }
  .card-body,
  .main-content,
  .right-bar,
  .page-content,
  body {
    padding: 0;
    margin: 0; }
  .card {
    border: 0; } }

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  padding: 0px !important; }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none; }

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0; }

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 6px;
  min-height: 10px; }

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none; }

.custom-scroll {
  height: 100%; }

/* ==============
  Calendar
===================*/
.fc .fc-toolbar h2 {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase; }

@media (max-width: 767.98px) {
  .fc .fc-toolbar .fc-left, .fc .fc-toolbar .fc-right, .fc .fc-toolbar .fc-center {
    float: none;
    display: block;
    text-align: center;
    clear: both;
    margin: 10px 0; }
  .fc .fc-toolbar > * > * {
    float: none; }
  .fc .fc-toolbar .fc-today-button {
    display: none; } }

.fc th.fc-widget-header {
  background: #f1f5f7;
  color: #505d69;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600; }

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #f1f5f7; }

.fc-unthemed td.fc-today {
  background: #f6f8fa; }

.fc-button {
  background: #fff;
  border-color: #eff2f7;
  color: #505d69;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 6px 12px !important;
  height: auto !important; }

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #128646;
  color: #fff;
  text-shadow: none; }

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center; }

.fc-event, .fc-event-dot {
  background-color: #128646; }

.fc-event .fc-content {
  color: #fff; }

#session-timeout-dialog .close {
  display: none; }

#session-timeout-dialog .countdown-holder {
  color: #ff3d60;
  font-weight: 500; }

#session-timeout-dialog .btn-default {
  background-color: #fff;
  color: #ff3d60;
  -webkit-box-shadow: none;
          box-shadow: none; }

.rs-control {
  margin: 0px auto; }

.rs-path-color {
  background-color: #f1f5f7; }

.rs-bg-color {
  background-color: #fff; }

.rs-border {
  border-color: transparent; }

.rs-handle {
  background-color: #505d69; }

.rs-circle-border .rs-border {
  border: 8px solid #f1f5f7; }

.rs-disabled {
  opacity: 1; }

.outer-border .rs-border {
  border-width: 0px; }
  .outer-border .rs-border.rs-outer {
    border: 14px solid #f1f5f7; }

.outer-border .rs-handle {
  margin-left: 0 !important; }

.outer-border .rs-path-color {
  background-color: transparent; }

.outer-border-dot .rs-border.rs-outer {
  border: 16px dotted; }

.outer-border-dot .rs-handle {
  margin-left: 0 !important; }

.rs-range-primary .rs-range-color {
  background-color: #128646; }

.rs-range-primary .rs-handle-dot {
  background-color: #b7bdec;
  border-color: #128646; }
  .rs-range-primary .rs-handle-dot:after {
    background-color: #128646; }

.rs-range-primary.rs-circle-border .rs-handle {
  background-color: #128646; }

.rs-range-primary.outer-border-dot .rs-border.rs-outer {
  border-color: #b7bdec; }

.rs-range-secondary .rs-range-color {
  background-color: #74788d; }

.rs-range-secondary .rs-handle-dot {
  background-color: #b7b9c4;
  border-color: #74788d; }
  .rs-range-secondary .rs-handle-dot:after {
    background-color: #74788d; }

.rs-range-secondary.rs-circle-border .rs-handle {
  background-color: #74788d; }

.rs-range-secondary.outer-border-dot .rs-border.rs-outer {
  border-color: #b7b9c4; }

.rs-range-success .rs-range-color {
  background-color: #1cbb8c; }

.rs-range-success .rs-handle-dot {
  background-color: #69e9c3;
  border-color: #1cbb8c; }
  .rs-range-success .rs-handle-dot:after {
    background-color: #1cbb8c; }

.rs-range-success.rs-circle-border .rs-handle {
  background-color: #1cbb8c; }

.rs-range-success.outer-border-dot .rs-border.rs-outer {
  border-color: #69e9c3; }

.rs-range-info .rs-range-color {
  background-color: #4aa3ff; }

.rs-range-info .rs-handle-dot {
  background-color: #c4e1ff;
  border-color: #4aa3ff; }
  .rs-range-info .rs-handle-dot:after {
    background-color: #4aa3ff; }

.rs-range-info.rs-circle-border .rs-handle {
  background-color: #4aa3ff; }

.rs-range-info.outer-border-dot .rs-border.rs-outer {
  border-color: #c4e1ff; }

.rs-range-warning .rs-range-color {
  background-color: #fcb92c; }

.rs-range-warning .rs-handle-dot {
  background-color: #fee1a5;
  border-color: #fcb92c; }
  .rs-range-warning .rs-handle-dot:after {
    background-color: #fcb92c; }

.rs-range-warning.rs-circle-border .rs-handle {
  background-color: #fcb92c; }

.rs-range-warning.outer-border-dot .rs-border.rs-outer {
  border-color: #fee1a5; }

.rs-range-danger .rs-range-color {
  background-color: #ff3d60; }

.rs-range-danger .rs-handle-dot {
  background-color: #ffb7c4;
  border-color: #ff3d60; }
  .rs-range-danger .rs-handle-dot:after {
    background-color: #ff3d60; }

.rs-range-danger.rs-circle-border .rs-handle {
  background-color: #ff3d60; }

.rs-range-danger.outer-border-dot .rs-border.rs-outer {
  border-color: #ffb7c4; }

.rs-range-pink .rs-range-color {
  background-color: #e83e8c; }

.rs-range-pink .rs-handle-dot {
  background-color: #f5abcd;
  border-color: #e83e8c; }
  .rs-range-pink .rs-handle-dot:after {
    background-color: #e83e8c; }

.rs-range-pink.rs-circle-border .rs-handle {
  background-color: #e83e8c; }

.rs-range-pink.outer-border-dot .rs-border.rs-outer {
  border-color: #f5abcd; }

.rs-range-light .rs-range-color {
  background-color: #eff2f7; }

.rs-range-light .rs-handle-dot {
  background-color: white;
  border-color: #eff2f7; }
  .rs-range-light .rs-handle-dot:after {
    background-color: #eff2f7; }

.rs-range-light.rs-circle-border .rs-handle {
  background-color: #eff2f7; }

.rs-range-light.outer-border-dot .rs-border.rs-outer {
  border-color: white; }

.rs-range-dark .rs-range-color {
  background-color: #343a40; }

.rs-range-dark .rs-handle-dot {
  background-color: #6b7784;
  border-color: #343a40; }
  .rs-range-dark .rs-handle-dot:after {
    background-color: #343a40; }

.rs-range-dark.rs-circle-border .rs-handle {
  background-color: #343a40; }

.rs-range-dark.outer-border-dot .rs-border.rs-outer {
  border-color: #6b7784; }

.rs-handle-arrow .rs-handle {
  background-color: transparent;
  border: 8px solid transparent;
  border-right-color: #505d69;
  margin: -6px 0px 0px 14px !important;
  border-width: 6px 104px 6px 4px; }
  .rs-handle-arrow .rs-handle:before {
    display: block;
    content: " ";
    position: absolute;
    height: 22px;
    width: 22px;
    background: #505d69;
    right: -11px;
    bottom: -11px;
    border-radius: 100px; }

.rs-handle-arrow-dash .rs-handle {
  background-color: transparent;
  border: 8px solid transparent;
  border-right-color: #505d69;
  margin: -8px 0 0 14px !important; }
  .rs-handle-arrow-dash .rs-handle:before {
    display: block;
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    background: #505d69;
    right: -6px;
    bottom: -6px;
    border-radius: 100%; }
  .rs-handle-arrow-dash .rs-handle:after {
    display: block;
    content: " ";
    width: 80px;
    position: absolute;
    top: -1px;
    right: 0px;
    border-top: 2px dotted #505d69; }

.irs {
  font-family: "Nunito", sans-serif; }

.irs--round .irs-bar,
.irs--round .irs-to,
.irs--round .irs-from,
.irs--round .irs-single {
  background: #128646 !important;
  font-size: 11px; }

.irs--round .irs-to:before,
.irs--round .irs-from:before,
.irs--round .irs-single:before {
  display: none; }

.irs--round .irs-line {
  background: #f1f5f7;
  border-color: #f1f5f7; }

.irs--round .irs-grid-text {
  font-size: 11px;
  color: #adb5bd; }

.irs--round .irs-min,
.irs--round .irs-max {
  color: #adb5bd;
  background: #f1f5f7;
  font-size: 11px; }

.irs--round .irs-handle {
  border: 2px solid #128646;
  width: 16px;
  height: 16px;
  top: 29px;
  background-color: #fff !important; }

.swal2-container .swal2-title {
  font-size: 24px;
  font-weight: 500; }

.swal2-content {
  font-size: 16px; }

.swal2-icon.swal2-question {
  border-color: #4aa3ff;
  color: #4aa3ff; }

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #1cbb8c; }

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(28, 187, 140, 0.3); }

.swal2-icon.swal2-warning {
  border-color: #fcb92c;
  color: #fcb92c; }

.swal2-styled:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
  background: #128646; }
  .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step, .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
    background: rgba(86, 100, 210, 0.3); }

.symbol {
  border-color: #fff; }

.rating-symbol-background, .rating-symbol-foreground {
  font-size: 24px; }

.rating-symbol-foreground {
  top: 0px; }

/* =============
   Notification
============= */
#toast-container > div {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  opacity: 1; }
  #toast-container > div:hover {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    opacity: 0.9; }

#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
  min-width: 96%;
  margin: 4px auto; }

.toast-primary {
  border: 2px solid #128646 !important;
  background-color: rgba(86, 100, 210, 0.8) !important; }

.toast-secondary {
  border: 2px solid #74788d !important;
  background-color: rgba(116, 120, 141, 0.8) !important; }

.toast-success {
  border: 2px solid #1cbb8c !important;
  background-color: rgba(28, 187, 140, 0.8) !important; }

.toast-info {
  border: 2px solid #4aa3ff !important;
  background-color: rgba(74, 163, 255, 0.8) !important; }

.toast-warning {
  border: 2px solid #fcb92c !important;
  background-color: rgba(252, 185, 44, 0.8) !important; }

.toast-danger {
  border: 2px solid #ff3d60 !important;
  background-color: rgba(255, 61, 96, 0.8) !important; }

.toast-pink {
  border: 2px solid #e83e8c !important;
  background-color: rgba(232, 62, 140, 0.8) !important; }

.toast-light {
  border: 2px solid #eff2f7 !important;
  background-color: rgba(239, 242, 247, 0.8) !important; }

.toast-dark {
  border: 2px solid #343a40 !important;
  background-color: rgba(52, 58, 64, 0.8) !important; }

.toast-error {
  background-color: rgba(255, 61, 96, 0.8);
  border: 2px solid #ff3d60; }

.toastr-options {
  padding: 24px;
  background-color: #f6f8fa;
  margin-bottom: 0;
  border: 1px solid #eff2f7; }

.error {
  color: #ff3d60; }

.parsley-error {
  border-color: #ff3d60; }

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0; }
  .parsley-errors-list.filled {
    display: block; }
  .parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #ff3d60;
    margin-top: 5px; }

.select2-container {
  display: block; }
  .select2-container .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    height: 38px; }
    .select2-container .select2-selection--single:focus {
      outline: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 36px;
      padding-left: 12px;
      color: #505d69; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      height: 34px;
      width: 34px;
      right: 3px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        border-color: #adb5bd transparent transparent transparent;
        border-width: 6px 6px 0 6px; }
    .select2-container .select2-selection--single .select2-selection__placeholder {
      color: #505d69; }

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #adb5bd transparent !important;
  border-width: 0 6px 6px 6px !important; }

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: #fff; }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #74788d;
    outline: none; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #128646; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f8f9fa;
  color: #16181b; }
  .select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #128646;
    color: #fff; }

.select2-results__option {
  padding: 6px 12px; }

.select2-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.select2-search input {
  border: 1px solid #f1f5f7; }

.select2-container .select2-selection--multiple {
  min-height: 38px;
  background-color: #fff;
  border: 1px solid #ced4da !important; }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px; }
  .select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: #505d69; }
    .select2-container .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
      color: #505d69; }
    .select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
      color: #505d69; }
    .select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
      color: #505d69; }
    .select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
      color: #505d69; }
    .select2-container .select2-selection--multiple .select2-search__field::placeholder {
      color: #505d69; }
  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #eff2f7;
    border: 1px solid #f1f5f7;
    border-radius: 1px;
    padding: 0 7px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #ced4da; }

.select2-container--default .select2-results__group {
  font-weight: 600; }

.select2-result-repository__avatar {
  float: left;
  width: 60px;
  margin-right: 10px; }
  .select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px; }

.select2-result-repository__statistics {
  margin-top: 7px; }

.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
  display: inline-block;
  font-size: 11px;
  margin-right: 1em;
  color: #adb5bd; }
  .select2-result-repository__forks .fa,
  .select2-result-repository__stargazers .fa,
  .select2-result-repository__watchers .fa {
    margin-right: 4px; }
    .select2-result-repository__forks .fa.fa-flash::before,
    .select2-result-repository__stargazers .fa.fa-flash::before,
    .select2-result-repository__watchers .fa.fa-flash::before {
      content: "\f0e7";
      font-family: 'Font Awesome 5 Free'; }

.select2-results__option--highlighted .select2-result-repository__forks,
.select2-results__option--highlighted .select2-result-repository__stargazers,
.select2-results__option--highlighted .select2-result-repository__watchers {
  color: rgba(255, 255, 255, 0.8); }

.select2-result-repository__meta {
  overflow: hidden; }

.img-flag {
  margin-right: 7px;
  height: 15px;
  width: 18px; }

/* CSS Switch */
input[switch] {
  display: none; }
  input[switch] + label {
    font-size: 1em;
    line-height: 1;
    width: 56px;
    height: 24px;
    background-color: #ced4da;
    background-image: none;
    border-radius: 2rem;
    padding: 0.16667rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 500;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    input[switch] + label:before {
      color: #343a40;
      content: attr(data-off-label);
      display: block;
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 21px;
      position: absolute;
      right: 1px;
      margin: 3px;
      top: -2px;
      text-align: center;
      min-width: 1.66667rem;
      overflow: hidden;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
    input[switch] + label:after {
      content: '';
      position: absolute;
      left: 3px;
      background-color: #eff2f7;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 2rem;
      height: 20px;
      width: 20px;
      top: 2px;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  input[switch]:checked + label {
    background-color: #128646; }

input[switch]:checked + label {
  background-color: #128646; }
  input[switch]:checked + label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 3px; }
  input[switch]:checked + label:after {
    left: 33px;
    background-color: #eff2f7; }

input[switch="bool"] + label {
  background-color: #ff3d60; }

input[switch="bool"] + label:before, input[switch="bool"]:checked + label:before,
input[switch="default"]:checked + label:before {
  color: #fff; }

input[switch="bool"]:checked + label {
  background-color: #1cbb8c; }

input[switch="default"]:checked + label {
  background-color: #a2a2a2; }

input[switch="primary"]:checked + label {
  background-color: #128646; }

input[switch="success"]:checked + label {
  background-color: #1cbb8c; }

input[switch="info"]:checked + label {
  background-color: #4aa3ff; }

input[switch="warning"]:checked + label {
  background-color: #fcb92c; }

input[switch="danger"]:checked + label {
  background-color: #ff3d60; }

input[switch="dark"]:checked + label {
  background-color: #343a40; }

.square-switch {
  margin-right: 7px; }
  .square-switch input[switch] + label, .square-switch input[switch] + label:after {
    border-radius: 4px; }

.datepicker {
  border: 1px solid #f8f9fa;
  padding: 8px;
  z-index: 999 !important; }
  .datepicker table tr th {
    font-weight: 500; }
  .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td .active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
    background-color: #128646 !important;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff !important; }
  .datepicker table tr td.day.focused, .datepicker table tr td.day:hover,
  .datepicker table tr td span.focused,
  .datepicker table tr td span:hover {
    background: #eff2f7; }
  .datepicker table tr td.new, .datepicker table tr td.old,
  .datepicker table tr td span.new,
  .datepicker table tr td span.old {
    color: #adb5bd;
    opacity: 0.6; }
  .datepicker table tr td.range, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover, .datepicker table tr td.range:hover {
    background-color: #f1f5f7; }

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > td {
  padding: 7px; }

.dataTables_wrapper.container-fluid {
  padding: 0; }

table.dataTable {
  border-collapse: collapse !important;
  margin-bottom: 15px !important; }
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:before {
    right: 0.5rem;
    content: "\F0360";
    font-family: "Material Design Icons";
    font-size: 1rem;
    top: 9px; }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\F035D";
    font-family: "Material Design Icons";
    top: 15px;
    font-size: 1rem; }
  table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: rgba(86, 100, 210, 0.2); }
    table.dataTable tbody > tr.selected td, table.dataTable tbody > tr > .selected td {
      border-color: rgba(86, 100, 210, 0.2);
      color: #128646; }
  table.dataTable tbody td:focus {
    outline: none !important; }
  table.dataTable tbody th.focus, table.dataTable tbody td.focus {
    outline: 2px solid #128646 !important;
    outline-offset: -1px;
    background-color: rgba(86, 100, 210, 0.15); }

.dataTables_info {
  font-weight: 600; }

table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  background-color: #1cbb8c;
  bottom: auto; }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #ff3d60; }

div.dt-button-info {
  background-color: #128646;
  border: none;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
  text-align: center;
  z-index: 21; }
  div.dt-button-info h2 {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }

@media (max-width: 767.98px) {
  li.paginate_button.previous, li.paginate_button.next {
    display: inline-block;
    font-size: 1.5rem; }
  li.paginate_button {
    display: none; }
  .dataTables_paginate ul {
    text-align: center;
    display: block;
    margin: 1rem 0 0 !important; }
  div.dt-buttons {
    display: inline-table;
    margin-bottom: 1rem; } }

.activate-select .sorting_1 {
  background-color: #f8f9fa; }

.tox-tinymce {
  border: 2px solid #f1f5f7 !important; }

.tox .tox-statusbar {
  border-top: 1px solid #f1f5f7 !important; }

.tox .tox-menubar,
.tox .tox-edit-area__iframe,
.tox .tox-statusbar {
  background-color: #fff !important;
  background: none !important; }

.tox .tox-mbtn {
  color: #505d69 !important; }
  .tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
    background-color: #f1f5f7 !important; }

.tox .tox-tbtn:hover {
  background-color: #f1f5f7 !important; }

.tox .tox-toolbar__primary {
  border-color: #f1f5f7 !important; }

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background: #f1f5f7 !important; }

.tox .tox-tbtn {
  color: #505d69 !important; }
  .tox .tox-tbtn svg {
    fill: #505d69 !important; }

.tox .tox-edit-area__iframe {
  background-color: #fff !important; }

.tox .tox-statusbar a,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__wordcount {
  color: #505d69 !important; }

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid #e1e9ee !important; }

.note-editor.note-frame {
  border: 2px solid #f1f5f7;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0; }
  .note-editor.note-frame .note-statusbar {
    background-color: #f1f5f7;
    border-top: 1px solid #f1f5f7; }
  .note-editor.note-frame .note-editing-area .note-editable,
  .note-editor.note-frame .note-editing-area .note-codable {
    border: none;
    color: #adb5bd;
    background-color: transparent; }

.note-btn-group .note-btn {
  background-color: #f1f5f7 !important;
  border-color: #f1f5f7 !important; }

.note-status-output {
  display: none; }

.note-editable p:last-of-type {
  margin-bottom: 0; }

.note-popover .popover-content .note-color .dropdown-menu,
.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px; }

.note-popover {
  border-color: #f1f5f7; }

.note-popover .popover-content,
.card-header.note-toolbar {
  background-color: #f1f5f7; }

.note-toolbar {
  padding: 0 0 5px 5px !important; }

/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed #ced4da;
  background: #fff;
  border-radius: 6px; }
  .dropzone .dz-message {
    font-size: 24px;
    width: 100%; }

.twitter-bs-wizard .twitter-bs-wizard-nav {
  position: relative; }
  .twitter-bs-wizard .twitter-bs-wizard-nav:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f1f5f7;
    position: absolute;
    left: 0;
    top: 26px; }
  .twitter-bs-wizard .twitter-bs-wizard-nav .step-number {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 34px;
    border: 2px solid #128646;
    color: #128646;
    text-align: center;
    border-radius: 50%;
    position: relative;
    background-color: #fff; }
    @media (max-width: 991.98px) {
      .twitter-bs-wizard .twitter-bs-wizard-nav .step-number {
        display: block;
        margin: 0 auto 8px !important; } }
  .twitter-bs-wizard .twitter-bs-wizard-nav .nav-link .step-title {
    display: block;
    margin-top: 8px;
    font-weight: 600; }
    @media (max-width: 575.98px) {
      .twitter-bs-wizard .twitter-bs-wizard-nav .nav-link .step-title {
        display: none; } }
  .twitter-bs-wizard .twitter-bs-wizard-nav .nav-link.active {
    background-color: transparent;
    color: #505d69; }
    .twitter-bs-wizard .twitter-bs-wizard-nav .nav-link.active .step-number {
      background-color: #128646;
      color: #fff; }

.twitter-bs-wizard .twitter-bs-wizard-pager-link {
  padding-top: 24px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0; }
  .twitter-bs-wizard .twitter-bs-wizard-pager-link li {
    display: inline-block; }
    .twitter-bs-wizard .twitter-bs-wizard-pager-link li a {
      display: inline-block;
      padding: .47rem .75rem;
      background-color: #128646;
      color: #fff;
      border-radius: .25rem; }
    .twitter-bs-wizard .twitter-bs-wizard-pager-link li.disabled a {
      cursor: not-allowed;
      background-color: #7682db; }
    .twitter-bs-wizard .twitter-bs-wizard-pager-link li.next {
      float: right; }

.twitter-bs-wizard-tab-content {
  padding-top: 24px;
  min-height: 262px; }

.table-rep-plugin .btn-toolbar {
  display: block; }

.table-rep-plugin .table-responsive {
  border: none !important; }

.table-rep-plugin .btn-group .btn-default {
  background-color: #eff2f7;
  color: #343a40;
  border: 1px solid #e8ecf4; }
  .table-rep-plugin .btn-group .btn-default.btn-primary {
    background-color: #128646;
    border-color: #128646;
    color: #fff; }

.table-rep-plugin .btn-group.pull-right {
  float: right; }
  .table-rep-plugin .btn-group.pull-right .dropdown-menu {
    right: 0;
    -webkit-transform: none !important;
            transform: none !important;
    top: 100% !important; }

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal; }

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
  color: #505d69 !important; }
  .table-rep-plugin .checkbox-row:hover {
    background-color: #f6f8fa !important; }
  .table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative; }
    .table-rep-plugin .checkbox-row label::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #f1f5f7;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none !important; }
    .table-rep-plugin .checkbox-row label::after {
      color: #eff2f7;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: -1px;
      width: 16px; }
  .table-rep-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important; }
    .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #f8f9fa;
    cursor: not-allowed; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #128646;
    border-color: #128646; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #fff; }

.table-rep-plugin .fixed-solution .sticky-table-header {
  top: 70px !important;
  background-color: #128646; }
  .table-rep-plugin .fixed-solution .sticky-table-header table {
    color: #fff; }

@media (min-width: 992px) {
  body[data-layout="horizontal"] .fixed-solution .sticky-table-header {
    top: 120px !important; } }

.table-editable .editable-input .form-control {
  height: 2rem; }

.table-editable a.editable {
  color: #505d69; }

.table-editable .editable-buttons .btn.btn-sm {
  font-size: 12px; }

.table-editable tbody td.focus {
  -webkit-box-shadow: inset 0 0 1px 1px #128646 !important;
          box-shadow: inset 0 0 1px 1px #128646 !important; }

.glyphicon {
  display: inline-block;
  font-family: "Material Design Icons";
  font-size: inherit;
  font-weight: 600;
  font-style: inherit; }

.glyphicon-ok:before {
  content: "\F012C"; }

.glyphicon-remove:before {
  content: "\F0156"; }

.dt-autofill-list {
  border: none !important;
  background-color: #fff !important; }
  .dt-autofill-list .dt-autofill-question, .dt-autofill-list .dt-autofill-button {
    border-bottom-color: #f1f5f7 !important; }
  .dt-autofill-list ul li:hover {
    background-color: #f1f5f7 !important; }

.apex-charts {
  min-height: 10px !important; }
  .apex-charts text {
    font-family: "Nunito", sans-serif !important;
    fill: #adb5bd; }
  .apex-charts .apexcharts-canvas {
    margin: 0 auto; }

.apexcharts-tooltip-title,
.apexcharts-tooltip-text {
  font-family: "Nunito", sans-serif !important; }

.apexcharts-legend-series {
  font-weight: 500; }

.apexcharts-gridline {
  pointer-events: none;
  stroke: #f8f9fa; }

.apexcharts-legend-text {
  color: #74788d !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 13px !important; }

.apexcharts-pie-label {
  fill: #fff !important; }

.apexcharts-yaxis text,
.apexcharts-xaxis text {
  font-family: "Nunito", sans-serif !important;
  fill: #adb5bd; }

/* Flot chart */
.flot-charts-height {
  height: 320px; }

.flotTip {
  padding: 8px 12px;
  background-color: rgba(52, 58, 64, 0.9);
  z-index: 100;
  color: #f8f9fa;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px; }

.legendLabel {
  color: #adb5bd; }

.jqstooltip {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #343a40 !important;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #212529 !important; }

.jqsfield {
  color: #eff2f7 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 500 !important; }

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #f8f9fa;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #128646;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }
  .gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #128646; }
  .gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #128646; }

.jvectormap-label {
  border: none;
  background: #343a40;
  color: #f8f9fa;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  padding: 5px 8px; }

.auth-body-bg {
  background-color: #fff; }

.authentication-bg {
  background-image: url("../images/authentication-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .authentication-bg .bg-overlay {
    background-color: #292626; }
  @media (max-width: 991px) {
    .authentication-bg {
      display: none; } }

.authentication-page-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.auth-form-group-custom {
  position: relative; }
  .auth-form-group-custom .form-control {
    height: 60px;
    padding-top: 28px;
    padding-left: 60px; }
  .auth-form-group-custom label {
    position: absolute;
    top: 7px;
    left: 60px; }
  .auth-form-group-custom .auti-custom-input-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 19px;
    font-size: 24px;
    color: #128646; }

.home-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 9; }

.search-box .form-control {
  border-radius: 30px;
  padding-left: 40px; }

.search-box .search-icon {
  font-size: 16px;
  position: absolute;
  left: 13px;
  top: 0;
  line-height: 38px; }

.categories-group-card {
  border-bottom: 1px solid #eff2f7; }

.categories-group-list {
  display: block;
  color: #343a40;
  font-weight: 500;
  padding: 8px 16px; }
  .categories-group-list[aria-expanded="true"] {
    background-color: #f1f5f7; }
  .categories-group-list:last-child {
    border: 0; }
  .categories-group-list:hover {
    color: #343a40; }

.categories-list {
  padding: 8px 0px; }
  .categories-list li a {
    display: block;
    padding: 4px 16px;
    color: #505d69; }
  .categories-list li.active a {
    color: #128646; }

.product-detai-imgs .nav .nav-link {
  margin: 7px 0px; }
  .product-detai-imgs .nav .nav-link.active {
    background-color: #f1f5f7; }

.product-color a {
  display: inline-block;
  text-align: center;
  color: #505d69; }
  .product-color a .product-color-item {
    margin: 7px;
    border: 2px solid #eff2f7;
    border-radius: 4px; }
  .product-color a.active, .product-color a:hover {
    color: #128646; }
    .product-color a.active .product-color-item, .product-color a:hover .product-color-item {
      border-color: #128646 !important; }

.ecommerce-sortby-list li {
  color: #343a40; }
  .ecommerce-sortby-list li a {
    color: #505d69;
    padding: 4px; }
  .ecommerce-sortby-list li.active a {
    color: #128646; }

.product-box {
  padding: 24px;
  border: 1px solid #eff2f7;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .product-box:hover {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.product-img {
  position: relative; }
  .product-img .product-ribbon {
    position: absolute;
    top: 0;
    left: -24px;
    padding: 6px 8px;
    border-radius: 0px 30px 30px 0px; }
  .product-img .product-like {
    position: absolute;
    top: 0;
    right: 0; }
    .product-img .product-like a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 2px solid #f1f5f7;
      line-height: 38px;
      border-radius: 50%;
      text-align: center;
      color: #adb5bd; }

.product-detail .nav-pills .nav-link {
  margin-bottom: 7px; }
  .product-detail .nav-pills .nav-link.active {
    background-color: #f1f5f7; }
  .product-detail .nav-pills .nav-link .tab-img {
    width: 5rem; }

.product-detail .product-img {
  border: 1px solid #eff2f7;
  padding: 24px; }

.product-desc-list li {
  padding: 4px 0px; }

.product-review-link .list-inline-item a {
  color: #74788d; }

.product-review-link .list-inline-item:not(:last-child) {
  margin-right: 14px; }

.product-cart-touchspin {
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 0.25rem; }
  .product-cart-touchspin .form-control {
    border-color: transparent;
    height: 32px; }
  .product-cart-touchspin .input-group-btn .btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #128646 !important;
    font-size: 16px;
    padding: 3px 12px;
    -webkit-box-shadow: none;
            box-shadow: none; }

.shipping-address {
  -webkit-box-shadow: none;
          box-shadow: none; }
  .shipping-address.active {
    border-color: #128646 !important; }

/* ==============
  Email
===================*/
.email-leftbar {
  width: 236px;
  float: left;
  padding: 20px;
  border-radius: 5px; }

.email-rightbar {
  margin-left: 260px; }

.chat-user-box p.user-title {
  color: #343a40;
  font-weight: 600; }

.chat-user-box p {
  font-size: 12px; }

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%; }
  .email-rightbar {
    margin: 0; } }

.mail-list a {
  display: block;
  color: #74788d;
  line-height: 24px;
  padding: 8px 5px; }
  .mail-list a.active {
    color: #ff3d60;
    font-weight: 500; }

.message-list {
  display: block;
  padding-left: 0; }
  .message-list li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: default;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
    .message-list li a {
      color: #74788d; }
    .message-list li:hover {
      background: #f1f5f7;
      -webkit-transition-duration: .05s;
              transition-duration: .05s; }
    .message-list li .col-mail {
      float: left;
      position: relative; }
    .message-list li .col-mail-1 {
      width: 320px; }
      .message-list li .col-mail-1 .star-toggle,
      .message-list li .col-mail-1 .checkbox-wrapper-mail,
      .message-list li .col-mail-1 .dot {
        display: block;
        float: left; }
      .message-list li .col-mail-1 .dot {
        border: 4px solid transparent;
        border-radius: 100px;
        margin: 22px 26px 0;
        height: 0;
        width: 0;
        line-height: 0;
        font-size: 0; }
      .message-list li .col-mail-1 .checkbox-wrapper-mail {
        margin: 15px 10px 0 20px; }
      .message-list li .col-mail-1 .star-toggle {
        margin-top: 18px;
        margin-left: 5px; }
      .message-list li .col-mail-1 .title {
        position: absolute;
        top: 0;
        left: 110px;
        right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0; }
    .message-list li .col-mail-2 {
      position: absolute;
      top: 0;
      left: 320px;
      right: 0;
      bottom: 0; }
      .message-list li .col-mail-2 .subject,
      .message-list li .col-mail-2 .date {
        position: absolute;
        top: 0; }
      .message-list li .col-mail-2 .subject {
        left: 0;
        right: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .message-list li .col-mail-2 .date {
        right: 0;
        width: 170px;
        padding-left: 80px; }
    .message-list li.active, .message-list li.active:hover {
      -webkit-box-shadow: inset 3px 0 0 #128646;
              box-shadow: inset 3px 0 0 #128646; }
    .message-list li.unread {
      background-color: #f1f5f7;
      font-weight: 500;
      color: #292d32; }
      .message-list li.unread a {
        color: #292d32;
        font-weight: 500; }
  .message-list .checkbox-wrapper-mail {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 0 1px #ced4da;
            box-shadow: inset 0 0 0 1px #ced4da;
    border-radius: 1px; }
    .message-list .checkbox-wrapper-mail input {
      opacity: 0;
      cursor: pointer; }
    .message-list .checkbox-wrapper-mail input:checked ~ label {
      opacity: 1; }
    .message-list .checkbox-wrapper-mail label {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      cursor: pointer;
      opacity: 0;
      margin-bottom: 0;
      -webkit-transition-duration: .05s;
              transition-duration: .05s;
      top: 0; }
      .message-list .checkbox-wrapper-mail label:before {
        content: "\F012C";
        font-family: "Material Design Icons";
        top: 0;
        height: 20px;
        color: #292d32;
        width: 20px;
        position: absolute;
        margin-top: -16px;
        left: 4px;
        font-size: 13px; }

@media (max-width: 575.98px) {
  .message-list li .col-mail-1 {
    width: 200px; } }

.chat-leftsidebar {
  background-color: #fff;
  border-radius: 0.25rem 0 0 0.25rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  @media (min-width: 992px) {
    .chat-leftsidebar {
      min-width: 360px; } }
  .chat-leftsidebar .chat-leftsidebar-nav .nav {
    background-color: #f1f5f7; }
    .chat-leftsidebar .chat-leftsidebar-nav .nav .nav-link.active {
      background-color: #fff;
      color: #128646; }

.chat-noti-dropdown.active:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ff3d60;
  border-radius: 50%;
  right: 0; }

.chat-noti-dropdown .btn {
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px; }

.chat-search-box .form-control {
  border: 0; }

.chat-list {
  margin: 0; }
  .chat-list li.active a {
    background-color: rgba(241, 245, 247, 0.7); }
  .chat-list li a {
    display: block;
    padding: 14px 16px;
    color: #74788d;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-top: 1px solid #eff2f7;
    border-radius: 4px; }
    .chat-list li a:hover {
      background-color: rgba(241, 245, 247, 0.7); }
  .chat-list li .user-img {
    position: relative; }
    .chat-list li .user-img .user-status {
      width: 10px;
      height: 10px;
      background-color: #adb5bd;
      border-radius: 50%;
      border: 2px solid #fff;
      position: absolute;
      right: 0;
      bottom: 0; }
    .chat-list li .user-img.online .user-status {
      background-color: #1cbb8c; }
    .chat-list li .user-img.away .user-status {
      background-color: #fcb92c; }

.user-chat {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  .user-chat .user-chat-border {
    border-bottom: 1px solid #eff2f7; }

.user-chat-nav .dropdown .nav-btn {
  height: 36px;
  width: 36px;
  line-height: 36px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  font-size: 20px;
  border-radius: 50%; }

.user-chat-nav .dropdown .dropdown-menu {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid #eff2f7; }

.chat-conversation li {
  clear: both; }

.chat-conversation .chat-avatar {
  float: left;
  margin-right: 8px; }
  .chat-conversation .chat-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%; }

.chat-conversation .chat-day-title {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 12px; }
  .chat-conversation .chat-day-title .title {
    background-color: #eff2f7;
    position: relative;
    z-index: 1;
    padding: 3px 16px;
    border-radius: 30px; }
  .chat-conversation .chat-day-title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #eff2f7;
    top: 10px; }
  .chat-conversation .chat-day-title .badge {
    font-size: 12px; }

.chat-conversation .conversation-list {
  margin-bottom: 24px;
  display: inline-block;
  position: relative; }
  .chat-conversation .conversation-list .ctext-wrap {
    overflow: hidden; }
    .chat-conversation .conversation-list .ctext-wrap .conversation-name {
      font-weight: 600;
      margin-bottom: 7px; }
  .chat-conversation .conversation-list .ctext-wrap-content {
    padding: 12px 16px;
    background-color: #128646;
    border-radius: 0.25rem;
    color: #fff; }
  .chat-conversation .conversation-list .chat-time {
    margin-top: 7px;
    font-size: 12px;
    text-align: right; }

.chat-conversation .right .conversation-list {
  float: right; }
  .chat-conversation .right .conversation-list .conversation-name {
    text-align: right; }
  .chat-conversation .right .conversation-list .ctext-wrap-content {
    background-color: #eff2f7;
    text-align: right;
    color: #74788d; }
  .chat-conversation .right .conversation-list .chat-time {
    text-align: left; }

.chat-input-section {
  background-color: #fff;
  border-radius: 0.25rem; }

.chat-input {
  background-color: #eff2f7 !important;
  border-color: #eff2f7 !important; }

.chat-input-links {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .chat-input-links li a {
    font-size: 16px;
    line-height: 36px;
    padding: 0px 4px;
    display: inline-block; }

@media (max-width: 575.98px) {
  .chat-send {
    min-width: auto; } }

.task-box {
  border: 1px solid #f1f5f7;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .task-box .team .team-member {
    margin-right: 6px; }

.gu-transit {
  border: 1px dashed #74788d !important;
  background-color: #eff2f7 !important; }

.counter-number {
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .counter-number span {
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding-top: 5px; }

.coming-box {
  width: 25%; }

.comingsoon-bg {
  background-image: url("../images/comingsoon-bg.jpg"); }

/************** vertical timeline **************/
.timeline {
  position: relative;
  margin-bottom: 30px; }
  .timeline:before {
    content: "";
    position: absolute;
    width: 3px;
    top: 30px;
    left: 0;
    bottom: 0;
    background-color: #e4ecf0; }
  .timeline .timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .timeline .timeline-block {
    width: 100%; }
  .timeline .time-show-btn {
    margin-bottom: 30px; }
  .timeline .timeline-box {
    margin: 20px 0;
    position: relative;
    margin-left: 45px; }
  .timeline .timeline-date {
    display: inline-block;
    padding: 4px 16px 4px 8px;
    border-radius: 0px 30px 30px 0px;
    background-color: #128646;
    color: #fff;
    position: relative;
    left: -30px; }
    .timeline .timeline-date .circle-dot {
      margin-right: 8px; }
  .timeline .timeline-icon {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    display: block;
    border: 2px solid #128646;
    left: -48px;
    text-align: center;
    top: 27px;
    z-index: 9; }
    .timeline .timeline-icon:before {
      content: "";
      position: absolute;
      height: 3px;
      width: 20px;
      background-color: #e4ecf0;
      left: 12px;
      top: 3px; }
  .timeline .timeline-album {
    margin-top: 16px; }
    .timeline .timeline-album a {
      display: inline-block;
      margin-right: 5px; }
    .timeline .timeline-album img {
      height: 40px;
      width: auto;
      border-radius: 4px; }

@media (min-width: 768px) {
  .timeline .timeline-block {
    width: 50%; }
  .timeline:before {
    left: 50%; }
  .timeline .time-show-btn {
    position: relative;
    left: 67px;
    text-align: right; }
  .timeline-item::before {
    content: "";
    display: block;
    width: 50%; }
  .timeline-item.timeline-left {
    text-align: right; }
    .timeline-item.timeline-left::after {
      content: "";
      display: block;
      width: 50%; }
    .timeline-item.timeline-left::before {
      display: none; }
  .timeline-item.timeline-left .timeline-box {
    margin-left: 0;
    margin-right: 45px; }
  .timeline-item.timeline-left .timeline-date {
    padding: 4px 8px 4px 16px;
    border-radius: 30px 0px 0px 30px;
    left: auto;
    right: -30px; }
    .timeline-item.timeline-left .timeline-date .circle-dot {
      float: right;
      margin-right: 0px;
      margin-left: 8px; }
  .timeline-item.timeline-left .timeline-icon {
    left: auto;
    right: -52px; }
    .timeline-item.timeline-left .timeline-icon::before {
      left: auto;
      right: 12px; } }

.left-timeline::before {
  left: 3px; }

.left-timeline .timeline-item::before {
  display: none; }

.left-timeline .timeline-block {
  width: 100%; }

.left-timeline .timeline-icon {
  left: -45px; }

.pricing-nav-tabs {
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 4px;
  border-radius: 7px; }
  .pricing-nav-tabs li {
    display: inline-block; }

.pricing-box .plan-features li {
  padding: 7px 0px; }

/*********************
    Faqs
**********************/
.faq-nav-tabs .nav-item {
  margin: 0px 8px; }

.faq-nav-tabs .nav-link {
  text-align: center;
  margin-bottom: 8px;
  border: 2px solid #eff2f7;
  color: #505d69; }
  .faq-nav-tabs .nav-link .nav-icon {
    font-size: 40px;
    margin-bottom: 8px;
    display: block; }
  .faq-nav-tabs .nav-link.active {
    border-color: #128646;
    background-color: transparent;
    color: #505d69; }
    .faq-nav-tabs .nav-link.active .nav-icon {
      color: #128646; }

.text-error {
  font-size: 120px; }
  @media (max-width: 575.98px) {
    .text-error {
      font-size: 86px; } }

.error-text {
  color: #ff3d60;
  position: relative; }
  .error-text .error-img {
    position: absolute;
    width: 120px;
    left: -15px;
    right: 0;
    bottom: 47px; }
    @media (max-width: 575.98px) {
      .error-text .error-img {
        width: 86px;
        left: -12px;
        bottom: 38px; } }



.div-profile-user{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.div-profile-user h4{
  color:white !important;
}

.h-300{
  height: 300px;
}

.h-550{
  max-height: 550px;
  overflow-y: auto;
}

.pointer{
  cursor: pointer !important;
}

.list-course li:hover{
  background-color: #f2f4f4;
}

.divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0;
}

.divider.divider-left .divider-text {
  float: left;
  padding-left: 0;
}

.divider .divider-text {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding: 0 1rem;
  z-index: 999;
  background-color: #FFFFFF;
}

.divider .divider-text:before, .divider .divider-text:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  border-top: 1px solid #DFE3E7;
}

.divider .divider-text:after {
  left: 100%;
}